<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
<style>
 header{
   font-size: 300%;
 }
 *{
  color: red;
  text-align: center;
 }
 body {
  background-color: lightblue;
 }
</style>
</head>
<body>
<header>LOGIN FORM</header>
<br>
<hr>
<br>
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="txtuser" placeholder="Enter Username" required=""/>
  <br>
  <br>
  <input type="password" name="txtpass" placeholder="Enter Password" required=""/>
  <br>
  <br>
  <input type="submit" name="btnsubmit" value="Login"/>
</form>
{{key}}
<br>
<br>

<a href="{% url 'signup' %} " ><button type="button "  >signup</button></a>

</body>
</html>