<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
       <style>
    header{
    font-size: 300%;
    }
 *{
  color: red;
  text-align: center;
}
body {
  background-color: lightblue;
}
</style>
</head>
<body>
<header>LOGIN FORM</header>
<form action="login" method="POST">

 {% csrf_token %}
    user name:<input type="text" name="username"><br>

    password:<input type="password" name="password"><br>
    <input type="submit">




</form>

</body>
</html>