<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile page</title>
       <style>
    header{
    font-size: 300%;
    }
 *{
  color: red;
  text-align: center;
}
body {
  background-color: lightblue;
}
</style>
</head>
<body>
<h1>WELCOME TO POLL APP</h1>
<h3>SIGNUP/LOGIN BELOW TO GO TO HOME PAGE OF POLL APP</h3>

<a href="{% url 'login' %}"><button type="button" >login</button></a>
<a href="{% url 'signup' %}"><button type="button" >signup</button></a>

</body>
</html>